In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("../data/patients.csv")
df.head()

  PatientID  Age Sex Blood Pressure  Cholesterol    Diagnosis
0      P001   45   F         120/80          190  Hypertension
1      P002   62   M         140/90          230     Coronary
2      P003   29   F         110/70          160      Healthy
3      P004   75   M         150/95          250     Coronary